body {
    background-image: url("image.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;

}
form{
    margin-left: 60px;
}


.data {
    position: absolute;
    width: 30%;
    backdrop-filter: blur(20px);
    top: 10vh;
    left: 75vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    margin-bottom: 2px;
    color: white;
}

input { 
    
    color: gold;
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
    background: transparent;
}

.btnupdate{
    color: white;
    margin-bottom: 20px;
}
.btnupdate:hover{
    color: gold;
}

h1{
    text-align: center;
    color: white;
}

.backbtn{
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 25px;
}

.backbtn:hover{
    color: gold;
    
}