@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&family=Rubik+Glitch&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url("image.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header img{
    height: 100px;
}

hr{
    position: relative;
    margin-top: -10px;
    color: white;
    width: 90%;
    border-bottom: 2px solid white;
    margin-left: 10vh;
}

.navbar{
    float: right;
    margin-right: -10px;
    font-size: 20px;
    color: white;
    z-index: 999;
    margin-top: 15px;
    justify-content: space-around;
}

.navbar-nav a:hover{
    color: black;
    border-bottom: 2px solid gold;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.navbar-light .navbar-toggler-icon {
    background-color: white; 
    border-color: white; 
}
.carousel-item{
    height: 300px;
}

#carouselExampleFade .carousel-item img {
    height: 300px;
    object-fit: cover; 
}

#product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 10px;
}
#product .card img{
    height: 150px;
}

#product_type, #product_description{
    display: none;
}
#searchIcon i {
    margin-bottom: 5px;
}
#searchIcon:hover i {
    color: gold;
    cursor: pointer;
}

#searchInput{
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

.end{
    margin-top: 50px;
}
.end span hr{
    width: 100%;
    margin-left: 0px;
}

.groups{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 35vh;

}
.groups a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.groups a:hover{
    color: darkblue;
}
h3{
    font-family: 'Rubik Glitch', system-ui;
    color: white;
}
h3 span{
    color: gold;
}
.members{
    margin-left: 25vh;
}
.end p{
    color: white;
}
.contact{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.contact a i{
    color: white;
    transition: 0.3s;
}
.contact a i:hover{
    color: darkblue;
}
.contact p{
    color: white;
    font-size: 12px;
}