* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(logo.jpg);
}

.form {
    height: 300px;
    width: 400px;
    top: 25%;
    left: 30%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.form h1 {
    font-size: 40px;
    text-align: center;
}

.form .input-box {
    position: relative;
    width: 100%;
    margin: 35px -18px;
    height: 30px;
}

.input-box input[type="email"],
.input-box input[type="password"] {
    margin-left: 70px;
    margin-bottom: 15px;
    width: 70%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: gold;
    padding: 5px 5px 0px 5px;
}

.input-box input::placeholder {
    color: white;
}

button {
    font-size: 20px;
    width: 100px;
    padding: 2px 0;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 80px; 
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
button:hover {
    border-color: gold;

}   
p1 {
    
    bottom: 50px; 
    left: 10%;
    position: absolute;
    font-size: 18px;
    
}

p1 a {
    color: white;
    text-decoration: none; 
}

p1 a {
    text-decoration: none; 
}

p1 a:hover {
    text-decoration: underline; 
    color: gold;
}
p2 {
    
    bottom: 20px; 
    left: 10%;
    position: absolute;
    font-size: 18px;
   
}
p2 a {
    color: white;
    text-decoration: none;
}

p2 a:hover {
    text-decoration: underline; 
    color: gold;
}

@media only screen and (max-width: 410px){
    
.form {
    height: 300px;
    width: 400px;
    top: 35%;
    left: 1%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

}
@media only screen and (max-width: 475px){
    .form {
        height: 300px;
        width: 400px;
        top: 25%;
        left: -2%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        color: #fff;
        border-radius: 10px;
        padding: 30px 40px;
        justify-content: center;
        position: absolute;
        cursor: pointer;
    }
}
@media only screen and (max-width: 375px){
    .form {
        height: 300px;
        width: 400px;
        top: 25%;
        left: -2%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        color: #fff;
        border-radius: 10px;
        padding: 30px 40px;
        justify-content: center;
        position: absolute;
        cursor: pointer;
    }
}