*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url("image.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header img{
    height: 100px;
}

.navbar{
    float: right;
    margin-right: -10px;
    font-size: 20px;
    z-index: 999;
    margin-top: 15px;
    justify-content: space-around;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    color: white;
}

header hr{
    border-bottom: 1px solid white;
}

.buy_now{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background: blue;
    color: white;
}
.buy_now:hover{
    color: white;
    text-decoration: none;
    background: darkblue;
}

.add_to_cart{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background: green;
    color: white;
}

.add_to_cart:hover{
    background: darkgreen;
}
.product{
    display: flex;
    margin-left: 40vh;
}
.product-info{
    color: white; 
    margin-top: 30px;
    margin-left: 50px;
}

.product-info label{
    font-size: 15px;
}

.quantity{
    width: 100px;
    border: 1px solid white;
    text-align: center;
    background: transparent;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.product_size{
    display: flex;
    align-items: center;
}

.size-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 15px 1px 15px;
    border: 1px solid white;
    border-radius: 5%;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.size-btn:hover{
    background: green;
}

.radio {
    display: none;
  }

.size-btn.selected {
    background-color: green; 
    color: white;
    border: 1px solid green;
}

.product-info label span{
    font-weight: bold;
}

.review{
    color: white;
    margin-left: 40vh;
}
.rate{
    display: flex;
}
.comments{
    width: 90%;
    height: 10%;
    margin-bottom: 5px;
}

.btn-comment{
    color: white;
    background: blue;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
.btn-comment:hover{
    background: darkblue;
}
.feedback{
    display: grid;
}

.feedback label{
    color: white;
}

.accounts{
    display: flex;
    margin-left: 40vh;
    margin-top: 50px;
}
.comments-images{
    margin-left: 40vh;
}

.comments-images textarea{
    width: 90%;
    height: 70px;
}