body {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(logo.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.adminTable {
    color: white;
    text-align: center;
    border-collapse: collapse;
    backdrop-filter: blur(20px);
    width: 80%; 
}

.adminTable, .adminTable th, .adminTable td {
    border: 2px solid gold;
    
}

.adminTable th, .adminTable td {
    padding: 8px;
}

.adminTablethead th {
    background-color: white;
}
.adminTable thead th {
    color: white;
}
